*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
main{
	background-image: url("../image/fondo.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity:0.7; 

}

#myHeader {
	width: 100%;
	color: white;
	display: inline-block;
	background: #00667D;

}

header .titulo{
	width: 20%;
	margin-left: 3%;
	display: inline-block;
	font-family:  sans-serif;
	font-style: italic;
	height: 52px;
	padding: 0;
	position: fixed;
	background-color: #00667D;
	z-index: 1;

}
#myHeader a {
	color: #FCFFFC;
}
#myHeader a {
	background-color: transparent;
}

#myHeader .item:after{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #00E0E0;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#myHeader .item:hover:after{
    opacity:1;
    transform: translateY(15px)
}
#myHeader .tagA {
	color: rgba(0, 0, 0, 0.3);
}
#myHeader .tagA:hover {
	color: rgba(0, 0, 0, 0.7);
}
#myHeader img {
	width: 35px;
	border-radius: 50%;
	margin-top: -5px;
}

body{
	width: 100%;
	background: white;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.home{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
}

.izquierda{
	width: 50%;
	display: inline-block;
}

.izquierda h2 {
  animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 48%;
    width: 48%; 
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}



.derecha{
	width: 47%;
	background: black;
	display: inline-block;
}



.estadisticas{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: justify;
	padding: 2%;
}

.estadisticas h2{
	text-align: center;
	padding-bottom: 1%;
	color: #4f0299;
}

#grafico1{
	width: 50%;
	height: 300px;
	margin-top: 3%;
}

.graficas{
	width: 100%;
	margin-top: 5%;
	margin-bottom: 3%;
	text-align: justify;
	padding: 2%;
	color: #4f0299;
}

.graficas h2{
	text-align: center;
	padding-bottom: 1%;
}

#grafico2{
	width: 50%;
	height: 300px;
}

hr{
	width: 90%;
	color: #794bc4;
	size: "30";
	margin: auto;
}


footer{
  width: 100%;
  clear: both;
  padding: 1em; 
  overflow: hidden;
  background-color: #0d0d26;
  color: #fff;
  margin-top: 2%;
  background-image: url("../image/logos/pie-logos.jpg");
}

.colu1{
	width: 30%;
	display: inline-block;
}

.colu2{
	width: 28%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: top;
}

.colu3{
	width: 30%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: top;	
}

.social ul {
    list-style: none;
    display: inline-block; 
}

.social ul li a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}



