*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
	width: 100%;
	color: white;
	display: inline-block;
	background: #794bc4;
	padding-bottom: 1%;
}

header span h1:hover{
	color: #FFD743;
}

header .titulo{
	width: 20%;
	margin-left: 3%;
	display: inline-block;
}

.titulo img{
	display: inline-block;
	margin-top: 1%;
	margin-right: 7%;
}

.titulo h1{
	display: inline-block;
	vertical-align: center;
}