*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


#myHeader {
	width: 100%;
	color: white;
	display: inline-block;
	background: rgb(72, 44, 191);
	background: -webkit-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
	background: -o-linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);
	background: linear-gradient(45deg, rgba(72, 44, 191, 1) 0%, rgba(106, 198, 240, 1) 100%);

}

header .titulo{
	width: 20%;
	margin-left: 3%;
	display: inline-block;
	font-family:  sans-serif;
	font-style: italic;
	height: 52px;
	padding: 0;
	position: fixed;
	background-color: #00667D;
	z-index: 1;
}
#myHeader a {
	color: #FCFFFC;
}
#myHeader a {
	background-color: transparent;
}

#myHeader .item:after{
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    height: 4px;
    background-color: #00E0E0;
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transform: translateY(20px);        
}

#myHeader .item:hover:after{
    opacity:1;
    transform: translateY(15px)
}
#myHeader .tagA {
	color: rgba(0, 0, 0, 0.3);
}
#myHeader .tagA:hover {
	color: rgba(0, 0, 0, 0.7);
}
#myHeader img {
	width: 35px;
	border-radius: 50%;
	margin-top: -5px;
}

	
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:24px;
  text-align:center;
  color:#16a085;
  margin:40px 0 120px 0;
}


body{
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.contenedor{
	background: #cccccc;
}

.home{
	width: 100%;
	display: block;
}

.izquierda{
	width: 100%;
	display: inline-block;
}

.izquierda h2 {
  animation-duration: 12s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}

@keyframes slidein {
  from {
    margin-left: 70%;
    width: 30%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}



.derecha{
	width: 47%;
	display: inline-block;
}

.estadisticas{
	width: 100%;
}

.estadisticas h2{
	width: 17%;
	margin-left: 73%;
	text-align: center;
	padding: 1%;
	color: #4f0299;
}

.estadisticas h2:hover{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.d1{
	width: 30%;
	display: inline-block;
	margin-left: 5%;
	
}

.d1 img{
	width: 100%;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.5);
}

.i1{
	width: 40%;
	margin-left: 5%;
	display: inline-block;
}

.i1 p{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.5);
}

.graficas{
	width: 100%;
	color: #4f0299;
}

.graficas h2{
	width: 17%;
	padding: 1%;
	margin-left: 10%;
	text-align: center;
	padding-bottom: 1%;
	padding: 1%;
	color: #4f0299;
}

.graficas h2:hover{
	background: rgba(0,0,0,0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.d2{
	width: 40%;
	margin-left: 5%;
	display: inline-block;
}

.d2 p{
	width: 100%;
	border: 1px solid rgba(0,0,0,0.5);

}


.i2{
	width: 30%;
	display: inline-block;
	margin-left: 5%;
	
}

.i2 img{
	width: 100%;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.5);
}

hr{
	width: 90%;
	color: #794bc4;
	size: "40";
	margin: auto;
}


footer{
  width: 100%;
  clear: both;
  padding: 1em; 0
  overflow: hidden;
  background-color: #0d0d26;
  color: #fff;
  margin-top: 2%;
  background-image: url("../image/logos/pie-logos.jpg");
}

#col{
	width: 30%;
	display: inline-block;
}

.social ul {
    list-style: none;
    display: inline-block; 
}

.social ul li a {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease; 
}



