{% extends "master.html" %}
{% load staticfiles %}

{% block titulo %}
  InstaInfo | Ing Web
{% endblock %}

{% block contenido %}
<section class="home">
	
	<section class="izquierda" >

	</section>

	<section class="derecha">
		
	</section>
</section>
<hr/>

<section class="estadisticas">
	<h2>Económia</h2>
	<div class="d1">
		<h5>Datos</h5>
		<img src="../static/image/grafica.png">
	</div>

	<div class="i1">
		<h5>Descripción</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</div>

	
</section>
<hr/>

<section class="graficas">
	<h2>Ingeniería Civil</h2>
	<div class="d2">
		<h5>Descripción</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
	</div>
	<div class="i2">
		<h5>Datos</h5>
		<img src="../static/image/grafica.png">
	</div>
</section>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="../static/js/particles.min.js"></script>
<script src="../static/js/particulas.js"></script>

{% endblock %}
